.wrapper{
    height: 100vh;
    background-image: url("../../../img/bg-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.wrapper_before{
    width: 100%;
    height: 100%;
    background-color: rgba(24, 28, 28, 0.7);
    display: flex;
    align-items: center;
    justify-content: center;
}
.container_form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 500px;
    background: -webkit-linear-gradient(top, #219bb5, #536c75);
    border-radius: 10px;
}

.form_header{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-bottom: 3px solid #ffffff;
    border-radius: 5px;
    width: 90%;
    padding: 15px;

}
.form_header label{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
label p {
    color: #ffffff;
    text-shadow: 1px 1px 2px #5e5d5d;
    font-size: 21px;
    font-weight: bold;
    text-transform: uppercase;
}
.form_header img{
    padding-right: 2px;
    width: 60px;
}
.form_header button{
    padding: 9px;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 16px;

}
.form_header button:hover{
    transition: .3s;
    color: #737171;
    border-bottom: 2px solid #737171;
    border-radius: 2px;


}
form{
    width: 100%;
    padding: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}
form label{
    color: #ffffff;
    text-shadow: 1px 1px 2px #5e5d5d;
    font-size: 28px;
    font-weight: bold;

}

form input{
    margin: 20px;
    width: 75%;
    padding: 10px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: 3px solid #0cade8;
    border-radius: 3px;
    outline: none;
    background: none;
    font-size: 18px;
    font-weight: bold;
    color: #FFFFFF;

}

form input:focus {
    transition: 1.5s;
    border-bottom: 3px solid #ffffff;
}

form input::placeholder{
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
    text-shadow: 1px 1px 2px #5e5d5d;

}

form button{

    padding: 5px;
    background: none;
    border: none;
    border-bottom: 2px solid #ffffff;
    border-radius: 2px;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 21px;
    width: 100px;
}

form button:hover{
    transition: .3s;
    color: #303030;
    border-bottom: 2px solid #303030;
    border-radius: 2px;
}

