
/* Убираем внутренние отступы */
ul[class],
ol[class] {
    padding: 0;
}

/* Убираем внешние отступы */
body,
h1,
h2,
h3,
h4,
p,
ul[class],
ol[class],
li,
figure,
figcaption,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Выставляем основные настройки по-умолчанию для body */
body {
    min-height: 100vh;
    scroll-behavior: smooth;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* Удаляем стандартную стилизацию для всех ul и il, у которых есть атрибут class*/
ul,
ol,
li{
    list-style: none;
    padding: 0;
    margin: 0;
}

/* Элементы a, у которых нет класса, сбрасываем до дефолтных стилей */
a:not([class]) {
    text-decoration-skip-ink: auto;
}

/* Упрощаем работу с изображениями */
img {
    max-width: 100%;
    display: block;
}

/* Указываем понятную периодичность в потоке данных у article*/
article > * + * {
    margin-top: 1em;
}

/* Наследуем шрифты для инпутов и кнопок */
input,
button,
textarea,
select {
    font: inherit;
}

/* Удаляем все анимации и переходы для людей, которые предпочитай их не использовать */
@media (prefers-reduced-motion: reduce) {
    * {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}



.nav_bar{
    display: flex;
    flex-direction: column;
    width: 290px;
    height: 100vh;
}
.nav_bar_header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(top, #3ebed8, #536c75);
    padding: 10px;
    color: #FFFFFF;
    border-bottom: 1px solid #ffffff;
}

.nav_bar_header img {

    width: 30px;
    height: 30px;
}

.nav_bar_buttons {
    background-image: url("../../img/bg-01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.nav_bar_buttons_before{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    background-color: rgba(24, 28, 28, 0.7);

}

.nav_li{
    margin-top: 20px;

}
.nav_bar_exit{
    margin-bottom: 20px;
}


.nav_bar_buttons button{

    width: 90%;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 12px;
    border-radius: 10px;
    border: none;
    background: none;
    color: #FFFFFF;
    font-weight: bold;
    margin: 0 auto;
    margin-top: 15px;


}

.nav_bar_buttons button:hover{
    background-color: hsla(0,0%,100%,.23);
}

.nav_bar_buttons button:focus {
    background-color: #5a5a5a;

}

.nav_bar_buttons img {
    margin-right: 8px;
    width: 30px;
    height: 30px;

}

